@charset "UTF-8";

/* 손글씨 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

/* 딱딱하지 않은 정자체 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* 딱딱하고 정직한 이쁜 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* 일반 폰트 느낌 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {margin: 0;}
div, ul, li, span {list-style: none; margin: 0; padding: 0;}
header, main, footer {margin: 0; padding: 0;}
a {text-decoration: none;}
img {width: 100%;}