@charset 'utf-8';

/* 손글씨 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

/* 딱딱하지 않은 정자체 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* 딱딱하고 정직한 이쁜 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* 일반 폰트 느낌 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {margin: 0;}
div, ul, li, span {list-style: none; margin: 0; padding: 0;}
header, main, footer {margin: 0; padding: 0;}
a {text-decoration: none;}
img {width: 100%;}


/*** head ***/

#site-header {
    width: 100%; height: 90px;
    background: white;
    border-bottom: 1px solid #999;
    position: fixed; top: 0; left: 0; z-index: 10;
    animation-duration: 500ms;
}

header div {width: 75%; 
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
header div .menu li {
    display: inline-block;
    position: relative;
}
header div .menu li::after {content: ''; clear: both; display: block;}
header div .menu li a {
    font-size: 14px;
    font-weight: bold;
    color: black;
    line-height: 80px;
    margin-left: 30px;
    display: block;
}
header div .menu li span {
    position: absolute;
    left: 0px; top: 70px;
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    z-index: 999;
    display: none;
}
header div .menu li:nth-of-type(1) span {
    width: 511px;
} 
header div .menu li:nth-of-type(2) span {
    width: 400px;
} 
header div .menu li:nth-of-type(3) span {
    width: 262px;
} 
header div .menu li:nth-of-type(4) span {
    width: 165px;
} 
header div .menu li span a {
    display: inline;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}
header div .menu li:hover span {
    display: block;
}
header div .menu li a:hover {color: rgb(67, 67, 194);} 
header div .menu li span a:hover {color: #e9b224;}



/*** foot ***/

footer {
    width: 100%;
    margin-top: 120px;
    background: #525597;
}
footer div {width: 75%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
footer div:nth-of-type(1) h5 {
    width: 40%;
    color: #9093d7; font-size: 14px;
    margin-top: 60px;
    white-space: pre-line;
    font-weight: lighter;
}
footer div:nth-of-type(1) a {
    color: #9093d7;
    font-size: 14px;
    font-weight: bold;
    margin-top: 60px;
}
footer div:nth-of-type(1) ul {
    margin-top: 60px;
}

footer div:nth-of-type(1) span a {
    width: 24px; height: 24px;
    background: url('../imgs/sns.png') no-repeat;
    display: inline-block;
}
footer div:nth-of-type(1) span a:nth-of-type(2) {
    background-position: -26px 0;
    margin: 0 20px 0 20px;
}
footer div:nth-of-type(1) span a:nth-of-type(3) {
    background-position: -52px 0;
}
footer div:nth-of-type(1) span a:hover {
    background-position-y: -26px;
}
footer div:nth-of-type(1) a:hover {
    color: #eee;
}

footer div:nth-of-type(2) {
    width: 100%;
    background: rgb(218, 218, 218);
    height: 1px;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: center; 
    font-size: 11px; color: rgb(116, 116, 116);
}
