@charset "UTF-8";

body {
    color: #050505;
    font-family: $kr;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0rem;
    vertical-align: middle;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.fixed {
        touch-action: none;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.scrOff {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}