@charset "UTF-8";

// Typography 정의
// * 07.29 : 디자인단과 협의하에 line-Height:1 삭제(기본값 적용되도록)

/* 컨텐츠 페이지 대타이틀 (H1)
SemiBold / Font 12rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin mainTitle {
    font-family: 'Pretendard';
    @include text(600,12rem,1.2,$black,0rem,);
}

/* 컨텐츠 페이지 세미타이틀 (H2)
SemiBold / Font 8rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin semimainTitle {
    font-family: 'Pretendard';
    @include text(600,8rem,1.4,$black,0rem);
}

/* 컨텐츠 페이지 작은타이틀 (H3)
SemiBold / Font 6.2rem / #050505 / 자간 0rem / Line-Height 1  */
@mixin smallTitle {
    font-family: 'Pretendard';
    @include text(600,6.2rem,1.4,$black,0rem);
}

/* 헤더 GNB 타이틀 & 프로세스 타이틀 (H4)
SemiBold / Font 4.2rem / #050505 / 자간 0rem / Line-Height 1  */
@mixin contsTitle {
    font-family: 'Pretendard';
    @include text(600,4.2rem,1.4,$black,0rem);
}

/* 헤더 GNB 소타이틀 & 프로세스 소타이틀 (H5)
SemiBold / Font 3.2rem / #050505 / 자간 0rem / Line-Height 1  */
@mixin normalTitle {
    font-family: 'Pretendard';
    @include text(600,3.2rem,1.4 ,$black,0rem);
}


/* 본문 (기본) - 타이틀
Regular / Font 2.6rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin strongTxt {
    font-family: 'Pretendard';
    @include text(400,2.6rem,1.4,$black,0rem);
}

/* 본문 (기본) -노멀
Regular / Font 2rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin normalTxt {
    font-family: 'Pretendard';
    @include text(400,2rem,1.4,$black,0rem);
}

/* 본문 (기본) -검정
Regular / Font 1.6rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin semimTxt {
    font-family: 'Pretendard';
    @include text(400,1.6rem,1.4,$black,0rem); 
}

/* 본문 - 중간
Regular / Font 1.4rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin xsmallTxt {
    font-family: 'Pretendard';
    @include text(400,1.4rem,1.4,$black,0rem);
}

/* 최소 본문 - 스몰
Regular / Font 1.2rem / #050505 / 자간 0rem / Line-Height 1 */
@mixin smallTxt {
    font-family: 'Pretendard';
    @include text(400,1.2rem,1.4,$black,0rem);
}

//타이틀
.main-title{@include mainTitle;}
.semimain-title{@include semimainTitle;}
.small-title{@include smallTitle;}
.conts-title{@include contsTitle;}
.normal-title{@include normalTitle;}

//본문
.strong-txt{@include strongTxt;}
.normal-txt{@include normalTxt;}
.semim-txt{@include semimTxt}
.xsmal-txt{@include xsmallTxt;}
.small-txt{@include smallTxt;}