@charset "UTF-8";

#footer {
    background: $black; 
    padding:200px 0 60px 0px;
    width:100%;
    a, 
    button {
        cursor:pointer;
    }
    footer {
        position:relative;
        max-width:1600px;
        width:100%;
        padding:0px 60px;
        min-width:1024px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .footer-mid {
            .f-menu {
                margin: 0 0 20px 0;
            }
        }
        address {
            .copyright {
                margin: 20px 0 0 0;
            }
        }
    }
    .footer {
        &-top {
            max-width:1600px;
            min-width:1024px;
            padding:0 60px;
            margin:0 auto;
            margin-bottom:180px;
            .wrap {
                display:flex;
                justify-content:space-between;
                align-items:center;
                .txt-box{
                    p{
                        @include semimainTitle;
                        color: $white;
                        + p{
                            @include strongTxt;
                            color: $white;
                        }
                    }
                }
                .txt-box-link{
                    width:115px; 
                    height:115px;
                    @include iconBtn('../../assets/images/icon/ico-arrow-whtie-right-115.svg');
                }
            }
        }
        &-mid {
            display:flex;
            justify-content:flex-start;
            flex-direction: column;
            .f-menu{
                display: flex;
                align-items: center;
                column-gap: 1rem;
                .term {
                    strong{
                        margin-right: .8rem;
                        a{
                            font-weight: bold;
                        }
                    }
                    a {
                        @include xsmallTxt;
                        color:$white;
                        line-height: 1.7;
                    }
                }
                .mark {
                    img {
                        width: 100%;
                        max-width: 30px;
                    }
                }
            }
            address {
                p {
                    display:flex;
                    justify-content:flex-start;
                    gap:20px;
                    @include xsmallTxt;
                    color:$white;
                    line-height: 1.7;
                }
            }
            .copyright{
                opacity: 0.6;
            }
        }
    }
    .family-site{
        position: relative;
        .family-site-select{
            font-size: 20px; color:#fff; font-weight: 600; position: relative; display: flex; align-items: center;
            gap: 8px;
            .arrow{
                background: url('../../assets/images/icon/ico-arrow-white-20.svg') no-repeat center center;width:20px; height: 20px;
                transition: all 0.2s;
                &.active{
                    transform: rotate(180deg);
                }
            }
        }
        .family-site-menu{
            position: absolute; background: #fff; padding:20px; border-radius: 10px; width:150px; top:-120px; left:0;
            display: none;
            li{
                font-size: 14px; font-weight: 400; transition: color 0.2s; 
                a{
                    color:#050505; font-weight: 400;
                    &:hover{
                        color:#0057FF; font-weight: 600;
                    }
                }
                & + li{
                    margin-top: 10px;
                }
            }
            &.eng{
                top:-100px;
            }
        }
    }
}


@media (max-width:1024px) {
    //모바일 푸터
    #footer{
        padding: 100px 16px 40px;
        .footer-top{
            max-width:100%;
            min-width:100%;
            padding: 0;
            margin-bottom: 10em;
            .wrap{
                .txt-box{
                    p{
                        @include normalTitle;
                        font-size:24px;
                        color: $white;
                        margin:0 0 10px 0;
                        & + p{
                            @include semimTxt;
                            color: $white;
                        }
                        &:last-of-type {margin-bottom: 0;}
                    }
                }
                .txt-box-link{
                    width:60px;
                    height:60px;
                }
            }
        }
        footer{
            max-width:100%;
            min-width:100%;
            padding:0 ;
            .footer-mid{
                .f-menu{
                    margin:0 0 40px 0;
                    strong{
                        margin:0 1.3021vw 0 0;
                        a{
                            @include xsmallTxt;
                            color: $white;
                            font-weight: 700;
                            margin:0;
                        }
                    }
                    a{
                        @include xsmallTxt;
                        color: $white;
                        margin:0 0 0 1.3021vw;
                    }
                }
                address{
                    p{
                        opacity: 0.8;
                        flex-direction: column;
                        margin:0 0 20px 0;
                        gap: 0;
                        &.copyright{
                            font-size: 11px;
                            opacity: 0.4;
                        }
                        &:last-of-type {margin-bottom: 0;}
                    }
                }
            }
            .family-site{
                display:none;
            }
        }
    }
}