.icon-list-box{
    background-color: $gray01;
    padding:3rem;
    display: flex;
    i{
        display: flex;
        vertical-align: middle;
        &.icon-bg-01{
            background-color: #C4C4C4;
        }
    }
}

.color-list-box{
    span{color:$white;}
    div{
        padding:3rem 2.6rem;
        display: flex;
        justify-content: space-around;
    }
    .black-txt{color:$gray06;}
    .black{
        background-color:$black;
    }
    .gray06{
        background-color:$gray06;
    }
    .gray05{
        background-color:$gray05;
    }
    .gray04{
        background-color:$gray04;
    }
    .gray03{
        background-color:$gray03;
    }
    .gray02{
        background-color:$gray02;
    }
    .gray01{
        background-color:$gray01;
    }
    .white{
        background-color:$white;
        border:0.1rem solid #F2F1F6;
    }
    .dim{
        background-color:$dim;
    }
    .bule01{
        background-color:$blue01;
    }
    .bule02{
        background-color:$blue02;
    }
    .bule03{
        background-color:$blue03;
    }
    .violet{
        background-color:$violet;
    }
    .lime{
        background-color:$lime;
    }
    .red{
        background-color:$red;
    }
    .bule-sacle-01{
        background:$palette-gradient-01;
    }
    .bule-sacle-02{
        background:$palette-gradient-02;
    }
    .bule-sacle-03{
        background:$palette-gradient-03;
    }
}