@charset "UTF-8";

// extend
%input {
    width:100%;
    height: 6rem;
    padding:1.6rem 2rem 1.6rem 0;
    border-bottom:0.1rem solid $black;
    transition:border-color 0.3s ease;
    @include normalTxt;
}
%label {
    display:block;
    text-align:left;
    @include smallTxt;
    font-weight: 600;
    &::placeholder {
        @include smallTxt; 
        color: $gray03;
    }
}

//input box
.box-input {
    position: relative;
    width: 100%;
    .input-wrap {
        position: relative;
    }
    input[type=text],
    input[type=number] {
        &:disabled {
            @include normalTxt; 
            color: $gray02;
            &::placeholder {
                color: $gray02;
            }
        }
        &::placeholder {
            @include normalTxt; 
            color: $gray03;
        }
    }
    .input {
        &-label {
            @extend %label;
            font-size: 1.6rem;
            color:$black;
            font-weight: 600;
            & ~ .ico-delete{
                top:50%;
                transform: translateY(-50%);
            }
        }
        &-default{
            @extend %input;
            &.is-delete {
                padding-right: 5rem;
            }
            &.is-time {
                padding-right: 10rem !important;
            }
            &.is-unit {
                padding-right: 8.7rem;
            }
            &.is-masking {
                padding-right: 9.5rem;
            }
            &::placeholder {
                @include normalTxt;
                color: #70747D !important;
            }
            &:focus {
                border-color: $black;
            }
        }
        &-unit{
            position: absolute;
            right: 2rem;
            bottom:0;
            margin-bottom:2rem;
            @include smallTxt;
            &.on{
                right: 5.2rem;
            }
        }
    }
    .ico{
        &-delete {
            display: none;
            &.on{
                display:block;
            }
        }
    }
    &.serach-input{
        .input-default{
            padding-right:6rem;
            border-bottom: 0.2rem solid $black;
            &::placeholder {
                color: $gray07;
            }
        }
        .ico{
            &-delete {
                &.on{
                    right:3.4rem;
                }
            }
        }
    }
    .input-bottom-text{
        @include xsmallTxt;
        position: relative;
        color: $gray03;
        margin:1rem 0 0 0;
        padding:0 0 0 0.6rem;
        &::before{
            content: "";
            width:0.2rem;
            height:0.2rem;
            display:block;
            background-color: $gray03;
            position: absolute;
            top:50%;
            left:0;
            transform: translateY(-50%);
        }
    }

    // error case
    &.error {
        position: relative;
        .input-default {
            border-color: $red;
        }
        .ico{
            &-calendar {
                top: 2.5rem;
            }
        }
        .txt-error{
            display:block; 
            margin-top: 1rem; 
            color: $red; 
            text-align: left;
        }
        .input-label{
            color: $red;
        }
    }

    .txt-error{
        display:none;
    }
}


//체크박스
.flex-end{
    display: flex; justify-content: flex-end;
}
.mb10{
    margin-bottom: 1rem;
}
.btn-check{
    display: flex; gap:0.8rem;
    input[type=checkbox] {
        position: absolute;
        width: 2rem;
        height: 2rem; 
        outline:  none !important;
        padding: 0;
        overflow: hidden;
        border: 0 !important;
        z-index: 1;
        display: block;
       &+label{
            display: inline-block;
            position: relative;
            padding-left: 2.6rem;
            line-height:2rem;
            outline: none !important;
            cursor: pointer;
            color: #70747D;
            font-size: 1.4rem;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 2rem;
                height: 2rem;
                text-align: center;
                @include backgroundImg('../../assets/images/icon/ico-check-off.svg', center, contain);
                overflow: hidden;
                background-color: #fff;
                box-sizing: border-box;
                z-index: 2;
            }
       }
       &:checked + label{
        color:#0057ff;
        &:after{
            content: "";
            position: absolute;
            z-index: 3;
            top: 0px;
            left: 0;
            width: 2rem;
            height: 2rem; 
            @include backgroundImg('../../assets/images/icon/ico-check-on.svg', center, contain);
            background-position: center center;
            border-radius: 5px;
           }
       }
       &:focus{
        display: block;
        outline: none;
        box-shadow: 0 0 2px 2px #51a7e8;
    }
    }
    label{
        @include semimTxt;
        font-weight: 600;
    }
}
.box-check{
    display: flex; gap:0.8rem;
    input[type=checkbox] {
        position: absolute;
        width: 1.7rem;
        height: 1.7rem;
        outline:  none !important;
        padding: 0;
        overflow: hidden;
        border: 0 !important;
        z-index: 1;
        display: block;
        border-radius: 0.4rem;
       &+label{
            display: inline-block;
            position: relative;
            padding-left: 2.6rem;
            outline: none !important;
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 1.8rem;
                height: 1.8rem;
                text-align: center;
                border:0.2rem solid #C9CDD6;
                overflow: hidden;
                background-color: #fff;
                box-sizing: border-box;
                border-radius:0.4rem;
                z-index: 2;
            }
       }
       &:checked + label{
        color:#0057ff;
        &:after{
            content: "";
            position: absolute;
            z-index: 3;
            top: 0px;
            left: 0;
            width: 1.8rem;
            height: 1.8rem; 
            @include backgroundImg('../../assets/images/icon/ico-check-box-on.svg', center, contain);
            background-position: center center;
            border-radius: 5px;
           }
       }
       &:focus{
            display: block;
            outline: none;
            box-shadow: 0 0 2px 2px #51a7e8;
        }
    }
    label{
        @include semimTxt;
        font-weight: 600;
    }
}


// 셀렉트 박스
.select-input-wrap{
    display: flex; align-items: flex-end;
    .box-select{
        width:30rem;

    }
    .box-input{
        margin-bottom: 0 !important;
    }

}
.box-select{
    position: relative;
    &::after{
        @include backgroundImg('../../assets/images/icon/ico-arrow-down.svg', right center, 2rem);
        width:2rem;
        height:2rem;
        border:0;
        transform: rotate(0deg);
        margin-top:-1rem;
        display: block;
        content: '';
        position: absolute;
        bottom:0;
        margin-bottom:2rem;
        margin-right:1rem;
        right:0;
        transition: all 0.3s;
    }
    &.open{
        &::after{
            transform: rotate(-180deg);
        }
    }
    .select-label {
        font-size: 1.6rem;
        font-weight:600;
        color: #050505;
    }
    .select-default{
        @include normalTxt;
        width: 100%; 
        position: relative;
        padding: 1.6rem 4rem 1.6rem 0;
        border-bottom:0.1rem solid #C9CDD6;
        color: $black;
        text-align: left;
        transition:border-color 0.3s ease;
        height:6rem;
        &::placeholder {
            @include normalTxt; 
            color: $gray03;
        }
        &.disabled {
            @include normalTxt; 
            color: $gray02;
            &::after{
                @include backgroundImg('../../assets/images/icon/ico-arrow-down-grey.svg', right center, 2rem);
            }
        }

       
        &.on {
            width: 16rem;
        }
        
        .list{
            z-index: 11;
            .option{
                width: 99%;
                margin:1rem 0 0 1rem;
                @include backgroundImg('../../assets/images/icon/ico-selected-check-off-24.svg', 1rem center, 2rem);
                text-indent: 2rem;
                &:last-child{
                    margin-bottom:1rem;
                }
            }
            .option.focus, 
            .option.selected.focus, 
            .option:hover{
                font-weight: 400;
                background-color: #F4F4F4;
                width: 99%; 
                margin:1rem 0 0 1rem;
                border-radius: 0.4rem;
            }
            .option.selected{
                color: $blue01;
                @include backgroundImg('../../assets/images/icon/ico-selected-check-on-24.svg', 1rem center, 2rem);
                &:last-child{
                    margin-bottom:1rem;
                }
            }
        }
    }
    .txt{
        &-error {
            display: none; 
            @include normalTxt;
        }
    }
    .select-label {
        @extend %label;
        & ~ .ico-delete{
            top: 9.5rem;
        }
        &.label-trans {
            position: absolute; 
            z-index: -10;
            top:50%;
            transform: translateY(-50%);
            @include normalTxt;
            color:$gray04;
            .ico-required::before {
                color: $gray04;
            }
            &.on {
                top:0;
                font-size: 1.6rem;
                color:$black;
                font-weight: 600;
                transition: all 0.3s;
                z-index: 10;
                .ico-required::before {
                    color: $red;
                }
            }
        }
    }
    // error case
    &.error {
        .text-select, 
        .select-default {
            border-color: $red;
        }
        .txt-error{
            display:block; 
            margin-top: 1rem; 
            color: $red; 
            text-align: left;
        }
    }
    &.select-more{
        display: none; 
        margin-top: 1.6rem;
        &.on{
            display: flex;
            .select-default{
                width:16rem;
            }
            .input-wrap {
                position: relative;
                width:100%;
            }
            input[type=text],
            input[type=number] {
                &:disabled {
                    @include normalTxt; 
                    color: $gray02;
                    &::placeholder {
                        color: $gray02;
                    }
                }
                &::placeholder {
                    @include normalTxt; 
                    color: $gray03;
                }
            }
            .input {
                &-label {
                    // @extend %label;
                    & ~ .ico-delete{
                        top: 9.5rem;
                    }
                }
                &-default{
                    @extend %input;
                    padding-left:4rem;
                    &.is-delete {
                        padding-right: 5rem;
                    }
                    &.is-time {
                        padding-right: 10rem !important;
                    }
                    &.is-unit {
                        padding-right: 8.7rem;
                    }
                    &.is-masking {
                        padding-right: 9.5rem;
                    }
                    &::placeholder {
                        @include normalTxt;
                        color: $gray03;
                    }
                    &:focus {
                        border-color: $black;
                    }
                }
            }
            .ico{
                &-delete {
                    display: none;
                    &.on{
                        display:block;
                    }
                }
            }
        
            // error case
            &.error {
                position: relative;
                .input-default {
                    border-color: $red;
                }
                .ico{
                    &-calendar {
                        top: 2.5rem;
                    }
                }
                .txt-error{
                    display:block; 
                    margin-top: 1rem; 
                    color: $red; 
                    text-align: left;
                }
                .input-label{
                    color: $red;
                }
            }
        }
    }
    // nice select
    .nice-select{
        display: flex; 
        align-items: center;
        float: none;
        .current{
            display: flex; 
            width: 100%; 
            padding-right: 2rem; 
            @include ellipsis;
        }
        &.on {
            width: 16rem;
        }
        .list{
            width: 100%; 
            max-height: 25rem; 
            overflow-x: hidden; 
            overflow-y: scroll;
            margin-top:0;
            border-radius: 0 0 0.4rem 0.4rem;
            &::-webkit-scrollbar{
                width: 0.4rem;
            }
            &::-webkit-scrollbar-thumb{
                height: 40%;
                background: rgba(5, 5, 5, 0.1);
                border-radius: 0.8rem;
            }
            &::-webkit-scrollbar-track{
                background-color:$white;
            }
            li{
                display: flex; 
                width: 100%; 
                padding-right: 2rem; 
                @include ellipsis;
            }
        }
    }
}

/*파일첨부*/
.file-input-wrap {
    display: flex;
    flex-direction: column;
    .box-attach-wrap{
        position: relative;
        border-bottom:0.1rem solid #c9cdd6;
        .box-attach {
            display: flex;
            align-items: center;
            position: relative;
            width:100%;
            input {
                display: none;
            }
            .file-name {
                width: 100%;
                height: 6rem;
                padding:1.6rem 2rem 0 0;
                overflow: hidden;
                @include normalTxt;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #70747D;
            }
            label{
                @include backgroundImg('../../assets/images/icon/ico-upload.svg', left center, 2rem);
                color: $black;
                @include xsmallTxt;
                padding:0 0 0 2.4rem;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
            .btn-wrap {
                display: flex;
                justify-content: flex-end;
            }
        }
        .info-txt {
            display: block;
            margin-top: 1rem;
            @include smallTxt;
            color: $gray04;
        }
        .txt{
            &-error {display: none; @include smallTxt;}
        }
        // error case
        &.error {
            .txt-error{display:block; margin-top: 1rem; color: $red; text-align: left;}
        }
    }
    .box-file-attached{
        display: flex;
        flex-direction: column;
        gap: 0.8rem 0;
        li{
            &:last-child{
                margin-bottom: 1rem;
            }
        }
        .box-attached {
            display: flex;
            align-items: center;
            gap: 0 0.4rem;
            span {
                display: inline-block;
                @include xsmallTxt;
            }
            .ico-delete {
                position: inherit;
                transform: none;
                @include backgroundImg('../../assets/images/icon/ico-delete-file.svg', center center, 1.4rem);
            }
            .file-txt{
                background-color: $gray02;
                border-radius: 1rem;
                padding:1rem;
            }
        }
    }
    .input-label{
        display: block;  
        @extend %label;
        font-size:1.6rem;
    }
}
//textarea
.textarea-wrap{
    width: 100%;
    max-width: 79rem;
    .input-label {
        display: block; 
        margin-bottom: 1.6rem; 
        @extend %label;
        font-size:1.6rem;
    }
    .box-textarea{
        position: relative; 
        display: flex; 
        width: 100%;
        min-height:30rem;
        max-height:50rem;
        box-sizing:border-box; 
        @include normalTxt;
        font-size:1.8rem;
        overflow: hidden;
        color: $gray03;
        .input-default{
            width: 100%; 
            height:100%; 
            resize:none; 
            padding: 1.6rem 2rem !important; 
            background: $white; 
            border: 0.1rem solid #C9CDD6;
            overflow: hidden;
            border-radius: 1rem;
            transition: border-color .3s ease;
            &:focus{
                border:0.1rem solid $black;
            }
        }
        .ico-delete{
            width:2rem; 
            height:2rem; 
            display: none; 
            top:1.6rem; 
            right:2rem; 
            transform: translateY(0);
        }
        textarea{
            min-height:30rem;
            max-height:50rem;
            &::-webkit-scrollbar{
                width: 0.4rem;
            }
            &::-webkit-scrollbar-thumb{
                height: 40%;
                background: rgba(5, 5, 5, 0.1);
                border-radius: 0.8rem;
            }
            &::-webkit-scrollbar-track{
                background-color:transparent;
            }
        }
        .text-count{
            position: absolute;
            bottom:1.6rem;
            right:1.6rem;
            @include xsmallTxt;
            color:#70747D;
        }
    }
    .txt-error{
        display: none;
    }
    &.error{
        .box-textarea{
            .input-default{
                border-color: $red;
            }
        }
        .txt-error{
            display:block; 
            margin-top: 1rem; 
            @include smallTxt; 
            color: $red; 
            text-align: left;
        }
        .input-label{
            color: $red;
        }
    }
    textarea::placeholder {
        @include smallTxt;
        color: $gray03;
        opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
    }
    textarea::-webkit-input-placeholder {
        color: $gray03;
    }
    textarea:-ms-input-placeholder {
        color: $gray03;
    }
    textarea:-mos-input-placeholder {
        color: $gray03;
    }
}