@charset "UTF-8";

.box-tab{
    margin:2.6rem 0 2.6rem; overflow: hidden;
    .tab-btn-wrap {
        display:flex;
        justify-content:flex-start; 
        gap:0 5rem;
        flex-wrap: wrap;
        align-items: flex-end;
        &::-webkit-scrollbar {
            display: none;
        }
        li{
            flex-shrink: 0; 
            width: auto;
            &.on{
                a{
                    -webkit-text-stroke: 0.06rem;
                    &::after{
                        content: "";
                        display:block;
                        height:0.2rem;
                        width:100%;
                        position: absolute;
                        bottom:0;
                        left:50%;
                        transform: translateX(-50%);
                        background-color: $black;
                    }
                }
            }
            a{
                display: block; 
                text-align: center; 
                overflow: hidden; 
                @include normalTxt;
                padding:0 0 0.2rem 0;
                position: relative;
                &::after{
                    content: "";
                    display:block;
                    height:0.2rem;
                    width:100%;
                    position: absolute;
                    bottom:0;
                    left:50%;
                    transform: translateX(-50%);
                    background-color: transparent;
                }
                span{
                    display:block;
                    @include smallTxt;
                    font-size:1rem;
                    color: $gray03;
                    text-align: left;
                    -webkit-text-stroke: 0;
                }
            }
        }
    }
    .service-tab-btn-wrap {
        display:flex;
        justify-content:flex-start; 
        gap:0 5rem;
        flex-wrap: wrap;
        align-items: flex-end;
        &::-webkit-scrollbar {
            display: none;
        }
        li{
            flex-shrink: 0; 
            width: auto;
            &.on{
                a{
                    -webkit-text-stroke: 0.06rem;
                    &::after{
                        content: "";
                        display:block;
                        height:0.2rem;
                        width:100%;
                        position: absolute;
                        bottom:0;
                        left:50%;
                        transform: translateX(-50%);
                        background-color: $black;
                    }
                }
            }
            a{
                display: block; 
                text-align: center; 
                overflow: hidden; 
                @include normalTxt;
                padding:0 0 0.2rem 0;
                position: relative;
                &::after{
                    content: "";
                    display:block;
                    height:0.2rem;
                    width:100%;
                    position: absolute;
                    bottom:0;
                    left:50%;
                    transform: translateX(-50%);
                    background-color: transparent;
                }
                span{
                    display:block;
                    @include smallTxt;
                    font-size:1rem;
                    color: $gray03;
                    text-align: left;
                    -webkit-text-stroke: 0;
                }
            }
        }
    }
    &.tab-ctrl {
        .tab-contents-wrap {
            & > * {
                display: none;
            }
            & > .on{
                display: block;
            }
        }
    }
    .tab-ctrl-tit{
        display: flex;
        align-items: center;
        gap:0 5rem;
        .tab-tit{
            @include normalTxt;
            -webkit-text-stroke: 0.06rem;
            padding:0 5rem 0 0;
            position: relative;
            &::after{
                display: inline-block;
                content: "";
                background-color: $gray02;
                height:2rem;
                width:0.1rem;
                position: absolute;
                top:50%;
                right:0;
                transform: translateY(-50%);
            }
        }
    }
    .tab-ctrl-list{
        .tab-btn-wrap{
            display: flex;
            gap:2.4rem 0;
            flex-direction: column;
            align-items: flex-start;
            li{
                &.on{
                    a{
                        -webkit-text-stroke: 0.06rem;
                        color: $black;
                        &::after{
                            content: "";
                            display:block;
                            width:0.6rem;
                            height:0.6rem;
                            background-color: $blue01;
                            position: absolute;
                            top:0;
                            right:0;
                            border-radius: 50%;
                            transform: initial;
                            left: auto;
                        }
                    }
                }
                a{
                    padding:0 1.2rem 0 0;
                    @include semimTxt;
                    color: $gray03;
                }
            }
        }
    }
    .tab-ctrl-radius{
        .tab-btn-wrap{
            gap: 0 0.8rem;
            li{
                &.on{
                    a{
                        color: $white;
                        background-color: $black;
                        border-radius: 5rem;
                        &::after{
                            display:none;
                        }
                    }
                }
                a{
                    color: $gray03;
                    padding: 1rem 1.6rem;
                    @include semimTxt;
                    font-weight: 300;
                    -webkit-text-stroke: 0.06rem;
                }
            }
        }
        &.tab-radius-white{
            li{
                &.on{
                    a{
                        color: $black;
                        opacity: 1;
                        background-color: $white;
                    }
                }
                a{
                    color: $gray02;
                    opacity: 1;
                    background-color: rgba(255,255,255,0.1);
                    border-radius: 5rem;
                }
            }
        }
    }
}