.company {
    background-color: $black;
    color:$white;

    &.eng {
        .company-01 {
            .sec03 {
                .sec03_flex {
                    ul {
                        li {
                            span{
                                display: block;
                                font-weight: 600;
                                font-size: 2.6rem;
                                line-height: 1.4;
                                margin-bottom: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .subVisual {
        width: 100%;
        max-width: 176rem;
        height: 42rem;
        img {
            width: 100%;
            display: block;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }
    .flex-layout {
        display: flex;
        justify-content: space-between;
        img {
            display: block;
            border-radius: 1rem;
        }
        ul {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            li {
                color:$white;
                flex: 1 1 50%;
            }
        }
    }
    .page-desc-black {
        margin-bottom: 20rem;
        dl {
            color:$white;
            margin-top: 8rem;
        }
    }
    .depth-tit-black{
        @include normalTitle;
        color: $white;
        margin-bottom:6rem;
    }
    .tab-contents-wrap {
        border-top: 0rem;
        margin-top:12rem;
        .accordian-wrap {
            h3 {
                @include normalTitle;
                color:$white;
                opacity: 1;
                margin-top:20rem;
            }
            .accordian2 {
                margin-top:6rem;
                &:first-of-type {
                    margin-top:8rem;
                }
            }
        }
        .btn-wrap {
            margin-top:4rem;
            button {
                font-size: 2.6rem;
            }
        }
        .flex-layout {
            gap: 13.3rem;
            ul {
                li {
                    &:nth-of-type(1) ~ :nth-of-type(2) {
                        margin-bottom: 12rem;
                     }
                     dl {
                         dt {
                             font-size:3.2rem;
                             margin-bottom: 4rem;
                         }
                         dd {
                             font-size: 1.8rem;
                             line-height: 1.7;
                             margin-bottom: 0.8rem;
                         }
                     }
                }
            }
        }
    }
    .fixedVisual {
        .visual-img {
            &.company-06-img {
                background: url(../../images/subpages/mrc_cmy_06_img01.png);
            }
        }
    }

    //미라콤아이앤씨
    &-01 {
        overflow: hidden;
        padding-bottom: 0;
        .subVisual {
            margin: 12rem 0;
        }
        .page-tit-black {
            h2 {
                font-weight: 600;
            }

        }
        
        .section-desc {
            dt {
                font-size: 3.4rem;
                font-weight: 600;
                line-height: 1.4;
            }
            dd {
                margin-top: 1rem;
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.4;
            }
        }
        
        .sec01 {
            margin-top: 12rem;
            .page-desc-black {
                h3 {
                    margin-bottom: 1rem;
                    font-size:4.2rem; 
                    font-weight: 600;
                    opacity: 1;
                }
                p {
                    font-weight: 600;
                    font-size: 3.2rem;
                }
                dl {
                    dt{ 
                        font-weight: 600;
                        font-size: 2.6rem;
                        line-height: 1.7;
                        margin-bottom: 4rem;
                    }
                    dd {
                        font-weight: 400;
                        font-size: 2.2rem;
                        line-height: 1.7; 
                        &.mb20 {margin-bottom: 2rem;}
                    }
                }
            }
        }
        .sec02 {
            .page-tit-black {
                position: relative;
                margin-bottom: 0;
                .imgWrap {
                    background-image: url(../../../assets/images/subpages/mrc_cmy_01_img02.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 1rem;
                    overflow: hidden;
                    width: 100%;
                    max-width: 160rem;
                    height: 50rem;
                }
                .txtWrap {
                    position: absolute;
                    width: 100%;
                    max-width: 114.6rem;
                    top:50%; 
                    left: 50%;
                    transform: translate(-53.5%, -50%);
                    h2 {
                        font-size: 6.2rem;
                        font-weight: 600;
                        margin-bottom: 2rem;
                        padding: 0;
                    }
                    p {
                        font-size: 3.2rem;
                        font-weight: 600;
                        line-height: 1.4;

                    }
                }

            }
            .countNumContainer {
                margin:20rem 0;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 42.2rem;
                    height: 52.8rem;
                    background-image: url(../../../assets/images/subpages/mrc_cmy_01_img03.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                div {
                    margin-top:8rem;
                    display: flex;
    
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            flex: 1 1 50%;
                            // width: 45rem;
                            &:nth-of-type(-n + 2) {
                                margin-bottom:8rem;
                            }
                            dl {
                                width: 100%;
                                dt {
                                    font-size: 4.2rem;
                                    .countNum {
                                        font-size: 8rem;
                                    }
                                }
                                dd {
                                    font-size: 1.8rem;
                                    font-weight: 400;
                                    margin-top:1rem;
                                    line-height: 1.4;
                                }
                            }
                        }
                    }
                }
                .slo {
                    display: block;
                    dl {
                        margin-bottom: 8rem;
                        dt {
                            font-weight: 600;
                            font-size: 3.4rem;
                            line-height: 1.4;
                            margin-bottom: 2rem;
                        }
                        dd {
                            font-weight: 600;
                            font-size: 4.2rem;
                            line-height: 1.4;
                        }
                    }
                    p {
                        font-weight: 400;
                        font-size: 2.6rem;
                        line-height: 1.4;
                    }
                }
            }
        }
        .sec03 {
            padding: 20rem 0;
            width: 100%;
            background-image: url(../../../assets/images/subpages/mrc_cmy_01_bg.png);
            .sub-conts { 
                width: 100%; 
                padding: 0 6rem;
                padding: 0;
            }
            .section-desc {
                margin-bottom: 11.2rem;
            }
            .sec03_slider {
                position: relative;
                width: 100%;
                height: 50.3rem;
                ul {
                    display: flex;
                    gap: 2rem;
                    position: absolute;
                    li {
                        width: 35.5rem;
                        height: 50.3rem;
                        padding:4rem;
                        background: rgba(5, 5, 5, 0.3);
                        backdrop-filter: blur(1.3rem);
                        border-radius: 1rem;
                        position: relative;
                        dl {
                            dt {
                                opacity: 0.6;
                                font-weight: 600;
                                font-size: 1.6rem;
                                line-height: 1.4;
                                text-transform: capitalize;
                                margin-bottom: 2rem;
                            }
                            dd {
                                font-weight: 600;
                                font-size: 2.6rem;
                                line-height: 1.4;
                                margin-bottom: 6rem;
                            }
                        }
                        p {
                            width: 100%;
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 1.7;
                        }
                        img {
                            display: block;
                            position: absolute;
                            right:4rem;
                            bottom:4em;
                        }
                    }
                }
            }
            .sec03_swiper {
                display: none;
            }
            .sec03_flex {
                margin-top:12rem;
                h3 {
                    font-size: 2.6rem;    
                    line-height: 1.4;
                }
                ul {
                    display: flex;
                    margin-top: 8rem;
                    li {
                        width: 20%;
                        padding: 0 4rem;
                        border-left: 0.1rem solid rgba(255,255,255,0.2);
                        dl {
                            margin-bottom: 8rem;
                            dt {
                                font-weight: 600;
                                font-size: 2.6rem;
                                line-height: 1.4;
                                margin-bottom: 2rem;
                            }
                            dd {
                                font-size: 2rem;
                                line-height: 1.4;
                            }
                        }
                    }
                }
            }
        }
        .sec04 {
            padding: 20rem 0;
            width: 100%;
            background-color: $white;
            color:$black;
            .section_desc {
                margin-bottom: 4rem;
                dt {
                    font-size: 3.4rem;
                    font-weight: 600;
                    line-height: 1.4;
                    margin-bottom: 8rem;
                }
                dd {
                    font-size: 1.8rem;
                    line-height: 1.7;
                    font-weight: 400;
                    span {
                        display: block;
                        color:$gray04;
                    }
                }
            }
            .btn-wrap {
                .btn{
                    &.icon{
                        &::after{
                            width: 2.4rem; 
                            height: 2.4rem;
                        }
                    }
                }
            }
            .sec04_ci {
                margin-top: 12rem;
                ul {
                    display: flex;
                    li {
                        width: 51rem;
                        padding: 3rem;
                        border-radius: 1rem;
                        .color-round {
                            display: block;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            margin-bottom: 1rem;
                        }
                        dl {
                            dt {
                                font-size: 2rem;
                                margin: 0 0 2rem 0;
                            }
                            dd {
                                font-size: 1.6rem;
                                line-height: 1.7;
                            }
                        }
                        img {
                            margin-top:8.3rem;
                        }
                        &:first-of-type { 
                            background-color: $gray02;
                            .color-round{
                                background-color: $blue06;
                            }
                        }
                        &:nth-of-type(2) { 
                            background-color: $blue06;
                            margin-left: -1rem;
                            color: $white;
                            .color-round{
                                background-color: $white;
                            }
                        }
                        &:last-of-type { 
                            background-color: $white;
                            margin-left: -1rem;
                            .color-round{
                                background-color: $black;
                            }
                        }
                    }
                }
            }
        }
        .companyBanner {
            display: flex;
            align-items: center;
            height: 43rem;
            background-image: url(../../../assets/images/subpages/mrc_cmy_01_img04.png);
            background-repeat: no-repeat;
            background-size: cover;
            .sub-conts {
                width: 100%;
            }
            p {
                color:$white;
                font-weight: 600;
                font-size: 4.2rem;
                line-height: 1.4;
                margin-bottom: 4rem;
            }
            .btn {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.4; 
                color: $white;
                &.icon {
                    &.down{
                        &::after {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }

    }

    //CEO
    &-02 {
        .flex-layout {
            margin-top: 8rem;
            column-gap: 15.5rem;
            img {
                &.img-ceo {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-width: 65.5rem;
                }
            }
            
            p {
                font-size: 1.8rem;
                line-height: 1.6;
                margin-bottom: 4rem;
                span ~ strong  {
                    display: block;
                    font-weight: 600;
                }
                span {
                    font-size: 2rem;
                }
                strong {
                    display: inline-block;
                    font-size: 2.6rem;
                    margin-top: 2rem;
                    img {
                        display: inline-block;
                        margin-left: 2.4rem;
                    }
                }
                &.sign {
                    margin-top: 8rem;
                }
            }
        }
    }

    //연혁  
    &-03 {
        .top_wrap {
            margin-top: 12rem;
            position: relative;
            .top_bg {
                width: 100%;
                overflow: hidden;
                margin: auto;
                img {
                    width: 100%;
                    display: block;
                    transform: scale(0.8);
                    transition: all 0.3s ease-out;
                }
                .sub-conts {
                    font-size: 6.2rem;
                    p {
                        opacity: 0;
                        font-weight: 600;
                        position: absolute;
                        bottom: 50%;
                        transform: translateY(-50%);
                        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
                        line-height: 1.4;
                        letter-spacing: 0;
                    }
                    .title{
                        display: none;
                    }
                }
            }
            
        }
        &-history {
            padding-top:12rem;
 
            .sticky-layout {
                max-width:148rem;
                padding:0 8rem;
                gap:0;
                nav {
                    width: 50%;
                    ul {
                        width: 100%;
                        li {
                            margin-bottom: 2rem;
                            a {
                                font-size: 3.2rem;
                                color:$white;
                                opacity: 0.5;
                                transition: opacity 0.3s linear;
                                &.on {
                                    font-size: 6.2rem;
                                    opacity: 1;
                                    transition: opacity 0.3s linear;
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    width: calc(100% - 50%);
                    
                    article {
                        position: relative;
                        margin-bottom: 0rem;
                        padding-bottom: 12rem;
                        //프로그레스바
                        .progress_bar {
                            position: absolute;
                            left: 0rem;
                            top: 0;
                            width: 0.2rem;
                            height: 100%;
                            background: $white; 
                            opacity: 0.2;
                            span {
                                display: block;
                                width: 0.4rem;
                                height: 0%;
                                margin-left: -0.1rem;
                                background-color: #2189ff;
                                z-index: 1;
                                transition: height 100ms ease-in;
                            }
                        }
                        ul {
                            li{ 
                                padding-top: 12rem;
                                &:first-child {
                                    padding-top: 0rem;
                                }
                                &.on {
                                    dl {
                                        opacity: 1;
                                        dt {
                                            font-size: 8rem;
                                        }
                                    }
                                }
                                dl {
                                    color:$white;
                                    opacity: 0.5;
                                    transition: opacity 0.3s linear;
                                    dt {padding-left: 14.4rem;
                                        font-size: 4.2rem;
                                        margin-bottom: 2rem;
                                        transition: font-size 0.3s ease-out;
                                        position: relative;
                                        &::before{
                                            content: '';
                                            position: absolute;
                                            top:50%;
                                            left:0;
                                            transform: translate(-50%,-50%);
                                            width: 1.5rem;
                                            height: 1.5rem;
                                            background: url('../../assets/images/subpages/mrc_cmy_03_img23.png')no-repeat center / auto;
                                        }
                                    }
                                    dd {padding-left: 14.4rem;
                                        font-size: 1.8rem;    
                                        line-height: 2;
                                        margin-bottom: 2rem;
                                        &:last-child{
                                            margin-bottom: 0rem;
                                        }
                                        img {
                                            display: block;
                                            width: 100%;
                                            max-width: 30rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }

    //윤리경영
    &-04 {
        .page-tit-black {
            margin-bottom: 4rem;
        }
        .page-desc-black {
            margin-bottom: 0;
            .tab-radius-white{
                .tab-btn-wrap{
                    li{
                        a{
                            h3{
                                color: #e5ebf4;
                                opacity: .6;
                                background-color: rgba(255,255,255,.1);
                                font-size: 1.6rem;
                            }
 
                        }
                        &.on{
                            a{
                                h3{
                                    color: #050505;
                                    opacity: 1;
                                    background-color: #fff;
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
            .normal-txt {
                margin-bottom: 8rem;
                font-size: 2.6rem;
                font-weight: 600;
                line-height: 1.4;
            }
            p {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.7;
            }
        }
        .box-tab {
            margin: 4rem 0 0;
            .address {
                margin-top:20rem;
                color: $white;
                h5 {
                    @include normalTitle;
                    color:$white;
                }
                dl { 
                    margin-bottom: 6rem;
                    dt {
                        font-size: 1.4rem;
                        margin-bottom: 1.6rem;
                    }
                    dd {
                        font-size: 1.8rem;
                    }
                }
                ul{
                    display: flex;
                    gap:4rem;
                }
            }
        }
        .accordian-wrap {
            .accordian2  {
                &.type-01 {
                    .acc-conts2 { 
                        font-size: 1.8rem;
                        opacity: 0.6;
                    }
                }

            }
        }
        .flex-layout { 
            margin-top: 20rem; gap:10.4rem;
            ul {
                flex-grow: 0; width:calc(100% - 71rem);
                li {
                    &:nth-of-type(1), 
                    &:nth-of-type(2) {
                        dl {
                            margin-top: 0;
                        }
                    }
                    dl {
                        dd {
                            position: relative;
                            padding-left: 1rem;
                            &::before {
                                position: absolute;
                                content: '';
                                display: block;
                                width: 0.2rem;
                                height: 0.2rem;
                                top: 1.5rem;
                                left: 0;
                                border-radius: 50%;
                                background-color: $white;
                            }
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .img{
                width:60.5rem; height: 53.8rem;
                img{
                    width:100%; height: 100%; object-fit: cover;
                }
            }
        }
    }

    //직무소개 
    &-05 {
        .container{
            padding-bottom: 0;
        }
        .page-tit-black{margin-bottom: 0;}
        .box-tab{
            padding-top: 4rem;
            .tab-ctrl-radius{
                .tab-btn-wrap {
                    li a{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
            }
        }
            .accordian-wrap {
                margin-top: 12rem;
                .accordian2 {
                    padding-top: 6rem;
                    .acc-trigger2{
                        font-weight: 600;
                        font-size: 3.2rem;
                    }
                    .acc-conts2 {
                        color:$white;
                        font-weight: 400;
                        ul {
                            display: flex;
                            flex-direction: column;
                            gap:2rem;
                            li {
                                width: 100%;
                                background-color: rgba(255,255,255,0.1);
                                padding:2rem;
                                border-radius: 1rem;
                                dl {
                                    margin-top: 0rem;
                                    dt {
                                        font-weight: 700;
                                        font-size: 2rem;
                                        line-height: 1.7;
                                        margin-bottom: 1rem;
                                    }
                                    dd {
                                        font-weight: 400;
                                        font-size: 1.8rem;
                                        line-height: 1.7;
                                        opacity: 0.6;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        .recruitBanner {
            height: 40rem;
            background: url(../../../assets/images/subpages/mrc_cmy_05_img01.png) no-repeat center;
            display: flex;
            align-items: center;
            .sub-conts {
                width: 100%;
            }
            p {
                color:$white;
                font-weight: 600;
                font-size: 4.2rem;
                margin-bottom: 4rem;
                line-height: 1.4;
                letter-spacing: 0;
            }
        }
    }

    //복리후생
    &-06 {
        overflow: none;
        .page-tit-black {
            img {
                display: block;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                margin-top: 12rem;
            }
        }
        .fixedVisual {
            overflow: hidden;
            img{
                display: block;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
        }
        .sub-conts-wide {
            width: 100%;
            &.company-06-cont01 {
                background-image: url(../../../assets/images/subpages/mrc_cmy_06_bg.png);
                background-position: top;
                background-size: cover;
                .sub-conts {
                    padding-top: 12rem;
                    width: 100%;
                    max-width: 160rem;
                    padding:0 6rem;
                    margin: 0 auto;
                    .sticky-layout {
                        gap:0;
                        nav {
                            width: 50%;
                            flex-shrink: 0;
                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 1.4rem;
                                position: sticky;
                                top: 12.5rem;
                                z-index: 2;
                                width: auto;
                                li a {
                                    display: inline-flex;
                                    align-items: center;
                                    position: relative;
                                    transition: opacity 0.3s;
                                    font-size: 2.4rem;
                                    font-weight: 600;
                                    color:$white;
                                    opacity: 0.5;
                                    &.on {
                                        font-weight: 600;
                                        opacity: 1;
                                        &::after {
                                            content:none;
                                        }
                                    }
                                }
                            }
                        }
                        .right {
                            flex-grow: 1;
                            .box-contents-wrap {
                                position: relative;
                                article {
                                    & > h3{
                                        display: block;
                                        font-weight: 600;
                                        font-size: 3.2rem;
                                        line-height: 1.4;
                                        margin-bottom: 8rem;
                                        letter-spacing: 0;
                                    }
                                    ul {
                                        display: flex;
                                        column-gap: 2rem;
                                        row-gap: 2rem;
                                        flex-wrap: wrap;
                                        li {
                                            width: calc(50% - 1rem);
                                            box-sizing: border-box;
                                            background-color: rgba(5, 5, 5, 0.3);
                                            padding:4rem;
                                            border-radius: 1rem;
                                            img{
                                                width:5.8rem; height: 5.8rem;
                                            }
                                            dl {
                                                margin-top: 4rem;
                                                dt {
                                                    font-weight: 600;
                                                    font-size: 2.6rem;
                                                    line-height: 1.4;
                                                    margin-bottom: 2rem;
                                                }
                                                dd {
                                                    font-weight: 400;
                                                    font-size: 1.8rem;
                                                    line-height: 1.6;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
    
    &-07{
        background: $white;
        color: $black;
        // board list
        .page-tit h2{padding-top:0;}
        .default-table-wrap{
            margin-top: 10rem;
            thead tr td{padding: 2rem 0;}
            tbody {
                border-top: 0.1rem solid $gray03;
                tr {
                    border-bottom: 0.1rem solid $gray03;
                    td{font-weight: 600;}
                }
            }
            .subject .table-day{
                color:$gray04;
            }
        }
        .search-wrap{
            max-width:48rem;
        }
        // board detail
        h3{
            font-weight: 600;font-size: 2rem;
            line-height: 140%;color:$gray04;margin-bottom: 2rem;
        }
        .default-table-info-txt {
            width: 100%;
            flex-flow: column;
            h4{
                font-size: 4.2rem;font-weight: 600;
                line-height: 1.4;color:$black;
            }
            div{
                margin-top: 2rem;
                color: $gray04;
                font-size: 1.6rem;
            }

        }
        .btn-wrap{margin-top: 4rem;}
        .default-table-info-cont{border-color: $gray02;
            .table-info-cont-txt{font-size: 1.6rem;font-weight: 400;letter-spacing: 0;line-height: 1.4; }
        }
        .default-table-info-pages ul li{
            border-top-color: $gray03;
             a{
                border-right-color: $gray03;
            }
            div{flex:1 auto;}
        }
    }

    //찾아오시는길
    &-08{
        padding-bottom:0;
        .page-tit-black{
            margin:0 0 10rem 0;
        }
        .page-desc{margin-bottom: 0;}
        .contact_info_wrap{
            display: flex;
            justify-content: space-between;
            margin:0 0 20rem 0;
            .contact_info_txt_box{
                .contact_info_address{
                    margin:0 0 20rem 0;
                    h3{
                        @include normalTitle;
                        color: $white;
                        opacity: 1;
                        margin:0 0 4rem 0;
                    }
                    p{
                        @include normalTxt;
                        color: $white;
                    }
                }
                .contact_info_txt{
                    display: flex;
                    max-width: 60rem;
                    flex-wrap: wrap;
                    gap: 6rem 0;
                    div{
                        min-width: 20rem;
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 50%;
                    }
                    p{
                        font-size: 1.8rem;
                        color: $white;
                    }
                    a{
                        margin-top: 1.6rem;
                        font-size: 1.8rem;
                        color: $white;
                    }
                }
            }
            .contact_info_img_box {
                width:60.5rem; height: 50.5rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
        }
        .contact_map_box{
            width: 100%;
            max-width: 192rem;
            margin:0 auto;
            iframe{width: 100%;}
        }
    }

}

.fraud-report {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
    &.eng {
        h2 {
            font-size: 5.2rem;
        }
    }
    h2 {margin-bottom: 2rem;}
    h6 {
        font-weight: 600;
    }
    .mb6{
        margin-bottom:6rem;
    }
    .box-input-wrap {
        margin-top:12rem;
        h4.normal-txt {
            font-size: 3.2rem;
            font-weight: 600;
        }
        .flex-sb{
            margin-bottom: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title-wrap{
                display: flex; gap:1rem; align-items: center;
            }
            .notice{
                font-weight:600;

            }
        }
        .box-input {
            margin-bottom: 3rem;
            .input-label~.ico-delete{
                margin-top:1rem;
            }
            .input-wrap{
                .input-default{
                    border-bottom:1px solid #C9CDD6;
                }
            }
        }
    }
    
    .textarea-wrap {
        .input-label {
            font-size: 1.6rem;
            font-weight:600;
            color: #050505;
        }
    }
    .file-input-wrap {
        .box-attach-wrap{
            .box-attach {
                label{
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .file-desc {
            font-size:1.4rem;
            color:$gray04;
            margin-top:1rem;
            &::before {
                content:'';
                display: inline-block;
                width: 0.2rem; 
                height: 0.2rem;
                background-color: $gray04;
                border-radius: 100%;
                vertical-align: middle;
                margin-right: 0.5rem;
            }
        }
    }
    .btn-wrap{
        &.fraud-report-btn{
            margin: 6rem auto 0;
            display: flex;
            justify-content: center;
        }
    }
}
