body{
    #wrap{
        &.value{
            #header{
                background: transparent;
                backdrop-filter:none;
                transition: all .2s;
                &.gnb-on{
                    background-color:rgba(5, 5, 5, 0.8);
                }
            }
        }
    }
}
#wrap{
    &.value{
        padding:0;
        .container{
            padding:0 0;
        }
    }

    //영문
    &.eng{ 
        .value-02-cont {
            ul {
                li {
                    dl {
                        dt {
                            font-size: 6rem;
                            &.plus{
                                padding-left:0;
                                span{
                                    padding-right:10rem;
                                    &::before{
                                        display: none;
                                    }
                                    &::after{
                                        content: "";
                                        display: block;
                                        width: 5.8rem;
                                        height: 5.8rem;
                                        background: url(../../../assets/images/subpages/mrc_smr_01_icon01.png) no-repeat center/100%;
                                        position: absolute;
                                        right: 0;
                                        top: 50%;
                                        transform: translate(-50%,-50%);
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
        .value-04 {
            .cont-tit {
                p {
                    font-size: 4.2rem;
                }
            }
        }
    }
}
.value {
    &-01 {
        overflow: hidden;
        img {
            width: 100%;
        }
        &.career {
            .careerCon3 {
                width: 100%;
                height: 100vh;
                position: relative;
                > * {
                    opacity: 0;
                    transition: 1s ease;
                }
                > div[class*="con"] {
                    transform: scale(1.15);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0; top:0; right: 0; bottom:0; 
                    img{
                        height: 100%;
                        object-fit: cover;
                        &.mo{display: none;}
                    }
                }
                p  {
                    z-index: 1;
                    font-size: 8rem;
                    font-weight: 600;
                    color:$white;
                    width: 100%;
                    text-align: center;
                    line-height: 140%;

                    position: absolute;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%, -50%);
                }

                &.sceneE {
                    & > div.con2 {opacity: 1; transform: scale(1);}
                    & > p.con2 {opacity: 1;}
                    .paging:after{height: 1rem;}
                }

                &.sceneF {
                    & > div.con3 {opacity: 1; transform: scale(1);}
                    & > p.con3 {opacity: 1;}
                    .paging:after{height: 2rem;}
                }

                &.sceneG {
                    & > div.con4 {opacity: 1; transform: scale(1);}
                    & > p.con4 {opacity: 1;}
                    .paging:after{height: 4rem;}
                }
                
                &.sceneH {
                    & > div.con5 {opacity: 1; transform: scale(1);}
                    & > p.con5 {opacity: 1;}
                    .paging:after{height: 6rem;}
                }

                &.sceneI {
                    & > div.con6 {opacity: 1; transform: scale(1);}
                    & > p.con6 {opacity: 1;}
                    .paging:after{height: 8.2rem;}
                }

                        
                .paging{
                    position: absolute;
                    bottom:50%;
                    right:15.625%;
                    opacity: 1;
                    transition: 1s ease;
                    z-index: 10;
                    transform: translate(0,50%);
                    display: flex;
                    flex-direction: column;
                    gap: 10.2rem;
                    &:before,&:after{
                        content:'';
                        display: block;
                        position: absolute;
                        top:3rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0.1rem;
                        background: $white;
                    }
                    &:before{
                        height: 8.2rem;
                        opacity: 0.2;

                    }
                    &:after{transition: all ease-in-out 0.5s;}
                    span{
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 140%;
                        color: $white;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }

    &-02 {
        width: 100%;
        height: 100vh;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        padding: 16rem;
        position: relative;
        overflow: hidden;
        &-cont {
            position: absolute;
            top:50%;
            transform: translate(0, -50%);
            color: $white;
            h6 {
                font-size: 3.2rem;
                line-height: 140%;
                font-weight: 600;
                margin-bottom: 4rem;
            }
            p.tit-desc {
                font-size: 2.6rem;
                font-weight: 600;
                line-height: 140%;
                margin-bottom: 12rem;
            }
            ul {
                width: auto;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                li {
                    padding-right: 20rem;
                    box-sizing: border-box;
                    &:nth-child(1) dt{padding-left: 0;}
                    dl {
                        width: 100%;
                        flex-wrap: nowrap;
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;
                        gap: 12rem;
                        dt {
                            padding-left: 10rem;
                            font-size: 8rem;
                            font-weight: 600;
                            white-space: nowrap;
                            span{ 
                                font-size: 25rem;
                                position: relative;
                                &.txt {
                                    &::before {
                                        content: none;
                                    }
                                }
                                &::before {
                                    content: '';
                                    display: block;
                                    width: 5.8rem;
                                    height: 5.8rem;
                                    background: url(../../../assets/images/subpages/mrc_smr_01_icon01.png) no-repeat center / 100%;
                                    position: absolute;
                                    left: -5.8rem;
                                    top:50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        dd {
                            white-space: nowrap;
                            span {
                                display: block;
                                margin-bottom: 3rem;
                                font-size: 4.2rem;
                                font-weight: 600;
                            }
                            p {
                                font-size: 2.6rem;
                                font-weight: 400;
                                line-height: 140%;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
    &-03{
        .pc-wrap{
            width:100%; max-width: 160rem; margin:0 auto; padding:24rem 6rem;
            .fade-area{
                display: flex; align-items: flex-start; justify-content: center; gap:4rem; text-align: center;
                img{
                    width:34rem; height: 34rem; object-fit: cover; border-radius: 1rem; overflow: hidden; margin-bottom: 3rem;
                }
                & + .fade-area{
                        margin-top: 20rem;
                }
                .count{
                    font-size: 6.2rem; gap:0.6rem; font-weight: 600; line-height: 1.6; display: flex; justify-content: center; align-items: center;
                    & > span{
                        font-weight: 400; font-size:  2.2rem;
                    }
                    .emph{
                        font-size: 2.4rem; padding-left:0.8rem; padding-bottom: 3.4rem;
                    }
                }
                .title{
                    font-size: 1.8rem; font-weight: 400; color:#050505
                }
                .caption{
                    font-size:1.4rem; font-weight: 400; color:#70747D; line-height: 1.6;
                }
            }
        }
        .cardSwiper {
            display: none;
            position: relative;
            padding: 0 1.6rem;
            .swiper-wrapper {
                .swiper-slide {
                    width: 100%;
                    max-width: 35.9rem;
                    height: 52rem;
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    border-radius: 1rem;
                    position: relative;
                    &.mo01 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img01.png);}
                    &.mo02 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img02.png);}
                    &.mo03 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img03.png);}
                    &.mo04 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img04.png);}
                    &.mo05 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img05.png);
                        dl {
                            .emph{
                                font-size: 1.6rem; padding-bottom:2.4rem;
                            }
                            dt span{
                                background: url('../../../assets/images/subpages/mrc_smr_icon04.png') no-repeat center / 100%; 
    
                            }
                            dd .caption{
                                color: $gray04;
                                margin-top: 0;
                                font-size: 1.2rem;
                                line-height: 140%;
                            }
                        }
                    }
                    &.mo06 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img06.png);}
                    &.mo07 {background-image: url(../../../assets/images/subpages/mrc_smr_mo_img07.png);}

                    dl {
                        position: absolute;
                        width: calc(100% - 5.6rem);
                        left: -0.1rem;
                        bottom: -0.1rem;
                        background-color: $white;
                        padding:3rem 2rem;
                        border-top-right-radius: 1rem;
                        height: 22.7rem;
                        dt {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            font-size: 4.2rem;
                            line-height: 140%;
                            margin-bottom: 1.6rem;
                            span{
                                margin-left: 0.5rem;
                                font-size: 0;
                                width: 2.4rem;
                                height: 2.4rem;
                                background: url('../../../assets/images/subpages/mrc_smr_icon03.svg') no-repeat center / 100%; 
                            }
                        }
                        dd {
                            font-size: 1.8rem;
                            font-weight: 400;
                            line-height: 140%;
                            margin-bottom: 4rem;
                        }
                        
                    }
                }
            }
            .swiperbtnBox {
                position: absolute;
                left:2rem;
                bottom:0.8rem;
                width: 100%;
                max-width: 8.4rem;
                .next_bottom {
                    width: 2rem;
                    height: 1.8rem;
                    background-image: url(../../../assets/images/icon/ico-arrow-next-mo.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    &.swiper-button-next {
                        &::after {
                            content: none;
                        }
                    }
                }
                
                .prev_bottom {
                    width: 2rem;
                    height: 1.8rem;
                    background-image: url(../../../assets/images/icon/ico-arrow-prev-mo.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    &.swiper-button-prev {
                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
    //가치제안
    &-04 {
        width: 100%;
        margin: 0 auto;
        max-width: 192rem;
        .cont-tit { 
            margin: 0 auto;
            max-width: 156.8rem;
            padding:0 4.4rem;
            h6 {
                font-size: 3.2rem;
                line-height: 140%;
                font-weight: 600;
                margin-bottom: 8rem;
            }
            p {
                font-size: 6.2rem;
                font-weight: 600;
                line-height: 140%;
            }   
        }
        &-cont {
            margin-top: 3.4rem;
            &.contContainer {
                width: 100%;
                height: 100vh;
                position: relative;
                box-sizing: border-box;
                .contWrap {
                    width: 100%;
                    height: calc(100vh);
                    position: absolute;
                    top: 0;
                    left:0; 
                    overflow: hidden;
                    padding:4.4rem;
                    box-sizing: border-box;
                    .contBg {
                        width: 100%;
                        height: calc(100vh - 8.8rem);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        transition: all 0.5s;
                        border-radius: 1rem;
                        position: relative;
                        overflow: hidden;
                        &.contBg1 {
                            background-image: url(../../../assets/images/subpages/mrc_smr_01_img06.png);
                        }
                        &.contBg2 {
                            background-image: url(../../../assets/images/subpages/mrc_smr_01_img07.png);
                        }
                        &.contBg3 {
                            background-image: url(../../../assets/images/subpages/mrc_smr_01_img08.png);
                        }
                        &.contBg4 {
                            background-image: url(../../../assets/images/subpages/mrc_smr_01_img09.png);
                        }
                        .number  {
                            position: absolute;
                            left:50%;
                            bottom: 10rem;
                            font-size: 6.2rem;
                            font-weight: 600;
                            width: 100%;
                            transform: translateX(-50%);
                            padding:0 4.4rem;
                            max-width: 156.8rem;
                            color: $white;
                            z-index: 3;
                        }
                    }
                    .contTxt {
                        width: 100%;
                        position: absolute;
                        top:24rem;
                        left:50%;
                        transform: translateX(-50%);
                        padding:0 4.4rem 0;
                        max-width: 156.8rem;
                        color:$white;
                        transition: color 0.5s;
                        z-index: 3;
                        .contTxtInner {
                            width: 100%;
                            h3 {
                                font-size: 6.2rem;
                                font-weight: 600;
                                line-height: 140%;
                                margin-bottom: 3rem;
                            }
                            p {
                                font-size: 2rem;    
                                line-height: 140%;
                                span.desc {
                                    margin-top: 3rem;
                                    display: block;
                                    font-weight: 400;
                                    font-size: 1.6rem;
                                    color:$white;
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //업종사례 
    &-05 {
        width: 100%;
        max-width: 156.8rem;
        padding:0 4.4rem;
        margin:15.6rem auto 20rem;
        .cont-tit { 
            margin:0 auto;
            h6 {
                font-size: 3.2rem;
                line-height: 3.2rem;
                font-weight: 600;
                margin-bottom: 8rem;
            }
            p {
                font-size: 6.2rem;
                font-weight: 600;
                line-height: 140%;
            }   
        }
        &-cont {
            margin-top: 6rem;
            img{
                border-top-left-radius: 1rem;
            }
        }
    }
} 