@charset "UTF-8";

.acc-conts {
    display:none;
}

.acc-conts2 {
    display:none;
}

.accordian {
    & > .acc-trigger {
        display:block;
        width:100%;
        position:relative;
    }
    .acc-conts {
        padding:3rem 0 0;
    }
    &.type-01{
        padding-bottom:3rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
        & > .acc-trigger {
            display:block;
            width:100%;
            position:relative;
            @include strongTxt;
            color: $white;
            padding: 0 3rem 0 0;
            &:after {
                content: "";
                position:absolute;
                right:0;
                top:50%;
                width:3rem;
                height:3rem;
                @include backgroundImg('../../assets/images/icon/ico-arrow-bottom-white.svg', 0 0, 3rem 3rem);
                transform:translateY(-50%);
            }
            &.on{
                &:after {
                    transform:translateY(-50%) rotate(180deg);
                }
            }
        }
        .acc-conts {
            padding:3rem 0 0;
            @include normalTxt;
            font-size:1.8rem;
            color: $white;
        }
    }
    &.type-02{
        padding-bottom:3rem;
        border-bottom:0.1rem solid #C9CDD6;
        & > .acc-trigger {
            display:block;
            width:100%;
            position:relative;
            @include strongTxt;
            color: $black;
            padding: 0 3rem 0 0;
            &:after {
                content: "";
                position:absolute;
                right:0;
                top:50%;
                width:3rem;
                height:3rem;
                @include backgroundImg('../../assets/images/icon/ico-arrow-bottom-black.svg', 0 0, 3rem 3rem);
                transform:translateY(-50%);
            }
            &.on{
                &:after {
                    opacity: 0;
                }
            }
        }
        .acc-conts {
            padding:3rem 0 0;
            @include normalTxt;
            line-height: 1.8 !important;
            font-size:1.8rem;
            color: $gray06;
        }
    }
}


.accordian2 {
    & > .acc-trigger2 {
        display:block;
        width:100%;
        position:relative;
    }
    .acc-conts2 {
        padding:3rem 0 0;
    }
    &.type-01{
        padding-bottom:3rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
        & > .acc-trigger2 {
            display:block;
            width:100%;
            position:relative;
            @include strongTxt;
            color: $white;
            padding: 0 3rem 0 0;

            span.accordian-arrow {
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                width: 3rem;
                height: 3rem;
                @include backgroundImg('../../assets/images/icon/ico-arrow-bottom-white.svg', 0 0, 3rem 3rem);
                transform:translateY(-50%);
            }
            &.on {
                span.accordian-arrow {
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            // &:after {
            //     content: "";
            //     position:absolute;
            //     right:0;
            //     top:50%;
            //     width:3rem;
            //     height:3rem;
            //     @include backgroundImg('../../assets/images/icon/ico-arrow-bottom-white.svg', 0 0, 3rem 3rem);
            //     transform:translateY(-50%);
            // }
            // &.on{
            //     &:after {
            //         content: "";
            //         transform:translateY(-50%) rotate(180deg);
            //     }
            // }
        }
        .acc-conts2 {
            padding:3rem 0 0;
            @include normalTxt;
            font-size:1.8rem;
            color: $white;
        }
    }
}